// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");


// Then add additional custom code here

// Default variable overrides
$body-bg: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
$body-color: #111;
$lgtBlue: #43bed6;

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 4%;
  //background-color: black;
  align-content: space-between;
}

.sinpadding [class*="col"] {
  //border-top: 5px solid rgba(255, 0, 0, 0.5);
  border-top: 5px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  font-family: "Montserrat";
  overflow: hidden;
  background-color: #2a2a2a;
}


section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
  overflow: hidden;
}

#page-1 .text,
#page-1-clone .text {
  background-color: #3F51B5;
}

#page-2 .text {
  background-color: #673AB7;
}

#page-3 .text {
  background-color: #9C27B0;
}

#page-4 .text {
  background-color: #E91E63;
}

#page-5 .text {
  background-color: #F44336;
}

#page-6 .text,
#page-6-clone .text {
  background-color: #4CAF50;
}

.text {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
  transition: all 500ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-active .text {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.butoms{
  position: absolute;
  bottom: 5%;
}

.butom-active{
  color: #E91E63;
}

.youtube-pointer{
  pointer-events: none;
}